<%= erb :nav %>

<div class="success">Your changes were successfully updated</div>
<div class="warning">There was a delay in sending your email, check back in an hour</div>
<div class="error">Unable to process your payment, our support team has been notified.</div>

<h1><%= @view[:h1] %></h1>

<form method="POST">
  <input name="newTitle" placeholder="Enter a new title">
  <input name="newH1" placeholder="Enter a new header">
  <button class="btn">Update</button>
</form>
