<%= erb :nav %>
<h1><%= @view[:h1] %></h1>

<form method="POST">
  <input name="newTitle" placeholder="Enter a new title">
  <input name="newH1" placeholder="Enter a new header">
  <button>Update</button>
</form>