
@import 'variables';
@import 'mixins';
@import 'nav';

body {
  color: $light-grey;
  background-color: $medium-blue;  
  font-family: $font;
}

button.btn {
  @include btn($medium-blue, $light-grey);
}

