
@import 'variables';
@import 'mixins';
@import 'nav';
@import 'alert';

body {
  color: $light-grey;
  background-color: $medium-blue;  
  font-family: $font;
}

button.btn {
  @include btn($medium-blue, $light-grey);
}


article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
  background-color: $dark-blue;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
  background-color: $light-grey;
}
