
@import 'variables';
@import 'mixins';

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
  background-color: $dark-blue;
  margin: 0px;
}

aside[role="complementary"] {
  display: inline;
  float: right;
  width: 300px / 960px * 100%;
  padding: 20px;
  background-color: $light-grey;
}
